<div class="homeSlide"> <div class="searchs"> <%= render 'layouts/search' %> </div></div>
<div class="container" > </div>
<br>
<%= render 'layouts/collections' %>
<br>
<hr>
<%= render 'layouts/recent-products' %>

</div>