@import "/*";
@import "bootstrap";
@import "tether";

/*HEADER*/

.topNav {
    background-color: #f9f8f3 !important;
    border-bottom: 1px solid #bdbdbd;
}
.botNav{
background-color: #ffffff !important;
border-bottom: 1px solid #bdbdbd;
}

.navbar-nav a {
    color: #707070 !important;
    padding-left: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-navi a {
    color: #6b724b  !important;
    padding-left: 14px;
    font-weight: 600;
    display: inline-block;
    padding-top: 13px;
}
/*Home Main Slide*/
.homeSlide{
    background: url("slide.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 426px;
    background-color: #f8f8f8;
    width: 100%;
    overflow: auto;
    background-position: center;
}

li {
    float: left;
}


li a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/*SEARCH*/

input[type="submit"] {
    color: #fff;
    background: #d5544f;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 32px;
    border-radius: 0px 3px 3px 0px;
}

input[type="submit"]:hover {
    color: #fff;
    background: #447675;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 32px;
    border-radius: 0px 3px 3px 0px;
}

input {
    padding: 8px 50px;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-right: -4px;
}

.searchs {
    margin-top: 276px;
    text-align: center;
}

/*BODY*/

.container {
    background-color: #f9f8f3;
}
@media (min-width: 1200px){
.container {
    max-width: 1600px !important;
}
}
body {
    background: #f9f8f3 !important;
}

/*footer*/


.footer {
    background: url("footer2.jpg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    min-height:310px;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    background-position: center;
}

.searchsf {
    margin-top: 172px;
    text-align: center;
}

/*PRODUCTS*/
td.weeimg {
    width: 10px;
    height: 20px;
    border: 5px solid transparent;
    overflow: hidden;
    border-radius: 35px;
}







#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}


#itemsContainer h1 {
   display: block;
    color: #707070;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}


.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 19%;
    padding:10px;
    min-height: 300px;
   
}


.itemhols h1 {
   display: block;
    color: #707070;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: #707070;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}

/*FORMS*/
form {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}

input.btn {
    color: #fff;
    background: #d5544f;
    text-transform: uppercase;
}



/*CART PAGE*/

#itemsContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
    display: block;
    color: #707070;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.prodtit {
    font-weight: 600;
}


.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #d84f5c;
    border: none;
    color: white;
    padding: 2px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*REG FORM*/

select#user_vendor {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

/*COLLECTIONS*/
.titover {
    position: absolute;
    margin-top: -56px;
    background: #ffffffc7;
    padding: 10px;
    color: #88302d;
}

/*PRODUCT PAGE*/

.container-shop {
    max-width: 1200px !important;
}

.cartbut {
    color: #fff;
    background: #d5544f;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 32px;
    border-radius: 0px 3px 3px 0px;
}

.cartbut:hover {
    color: #fff;
    background: #447675;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 9px 32px;
    border-radius: 0px 3px 3px 0px;
    text-decoration: none;
}