   <h3 style="text-align: center">Handpicked Collections</h3>
   
   <div class="container">
   <div class="row">
    <% Category.limit(3).where(display_in_nav: false).each do |cat| %>
      <div class="col-md-4">
        <br><%= link_to image_tag(cat.thumbnail), products_path(category: cat.name), style:'width:100%' %></br>
        <div class="titover"><h4><%= cat.name %></h4></div>
        
      </div>
      <% end %>
      </div>
      </div>
      